@mixin make-grid($name, $columns) {
    @for $i from 1 through $columns {
        .grid__col--#{$name}-#{$i} {
            order: 0;
            flex-basis: 100% / $columns * $i;
            max-width: 100% / $columns * $i;
        }

        .grid__col--offset-#{$name}-#{$i} {
            margin-left: 100% / $columns * $i;
        }
    }

    .grid__col--#{$name} {
        flex-grow: 0;
        flex-basis: auto;
        width: auto;
        max-width: 100%;
    }

    .grid__col--min-#{$name} {
        flex-grow: 0;
        flex-basis: auto;
        width: auto;
        max-width: 100%;
    }

    .grid__col--max-#{$name} {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .grid__col--top-#{$name} {
        align-self: flex-start;
    }

    .grid__col--middle-#{$name} {
        align-self: center;
    }

    .grid__col--bottom-#{$name} {
        align-self: flex-end;
    }

    .grid__col--original-#{$name} {
        order: 0;
    }

    .grid__col--first-#{$name} {
        order: -1;
    }

    .grid__col--last-#{$name} {
        order: 1;
    }

    .grid--reverse-#{$name} {
        flex-direction: row-reverse;
    }

    .grid--start-#{$name} {
        justify-content: flex-start;
    }

    .grid--center-#{$name} {
        justify-content: center;
    }

    .grid--end-#{$name} {
        justify-content: flex-end;
    }

    .grid--top-#{$name} {
        align-items: flex-start;
    }

    .grid--middle-#{$name} {
        align-items: center;
    }

    .grid--bottom-#{$name} {
        align-items: flex-end;
    }

    .grid--around-#{$name} {
        justify-content: space-around;
    }

    .grid--between-#{$name} {
        justify-content: space-between;
    }

    .grid--no-wrap-#{$name} {
        flex-wrap: nowrap;
    }
}

.grid {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: $grid-gutter * .5 * -1;
    margin-left: $grid-gutter * .5 * -1;
    margin-bottom: $grid-gutter * -1;
}

.grid--no-gutter {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.grid--no-horizontal-gutter {
    margin-right: 0;
    margin-left: 0;
}

.grid--no-vertical-gutter {
    margin-bottom: 0;
}

.grid--no-wrap {
    flex-wrap: nowrap;
}

.grid__col {
    flex: 0 0 auto;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: $grid-gutter;
    padding-right: $grid-gutter * .5;
    padding-left: $grid-gutter * .5;

    .grid--equalheight > & {
        display: flex;
    }

    .grid--no-gutter > & {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .grid--no-horizontal-gutter > & {
        padding-left: 0;
        padding-right: 0;
    }

    .grid--no-vertical-gutter > & {
        margin-bottom: 0;
    }
}

.grid__col--min {
    flex-grow: 0;
    flex-basis: auto;
    width: auto;
    max-width: 100%;
}

.grid__col--max {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.grid__col--no-vertical-gutter {
    margin-bottom: 0;
}

@include make-grid(xs, $grid-cols);

@include bp(xxs) {

    @include make-grid(xxs, $grid-cols);
}

@include bp(sm-min) {

    @include make-grid(sm, $grid-cols-md);
}

@include bp(md-min) {

    @include make-grid(md, $grid-cols-md);
}

@include bp(lg-min) {

    @include make-grid(lg, $grid-cols-md);
}

@include bp(xl-min) {

    @include make-grid(xl, $grid-cols-md);
}
