

.h-container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $container-padding;
    @include bp(sm-min) {
        padding: 0 $container-padding-sm;
    }
    @include bp(lg-min) {
        padding: 0 $container-padding-lg;
    }
}

.h-hidden {
    display: none !important;
}

.h-visible {
    display: block !important;
}

.h-text-left {
    text-align: left;
}

.h-text-center {
    text-align: center;
}

.h-text-right {
    text-align: right;
}

.h-margin-left-sm {
    margin-left: 8px;
}

.h-margin-bottom-xs {
    margin-bottom: 4px;
}

.h-margin-bottom-sm {
    margin-bottom: 8px;
}

.h-margin-bottom-sm-md {
    margin-bottom: 12px;
}

.h-margin-bottom-md {
    margin-bottom: 16px;
}

.h-margin-bottom-lg {
    margin-bottom: 24px;
}

.h-margin-bottom-xl {
    margin-bottom: 32px;
}

.h-margin-bottom-xxl {
    margin-bottom: 48px;
}

.h-margin-bottom-xxxl {
    margin-bottom: 60px;
}

.h-margin-top-lg {
    margin-top:24px;
}

.h-padding-top-lg {
    padding-top: 24px;
}

.h-padding-top-xxl {
    padding-top: 48px;
}

.h-padding-bottom-lg {
    padding-bottom: 24px;
}

.h-padding-bottom-xxl {
    padding-bottom: 48px
}
.button-center {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items:center ;
}
.h-display-flex {
    display: flex;
}
.h-display-flex-justify {
    display: flex;
    justify-content: center;
}