{% extends "base.twig" %} {% block content %}
<div class="404-page-container">
    <img src="{{theme.folder}}../../src/images/TYAN-logo.png">
    <h2 class="h2">Soovitud lehte ei leitud!</h2>
</div>
{% endblock %}