{% extends "base.twig" %} {% block content %}
<div class="wrong-page-container">
    <img class="h-margin-bottom-lg" src="{{theme.link}}/static/images/TYAN-logo-black.png">
    <h2 class="h2 h-margin-bottom-lg">Soovitud lehte ei leitud!</h2>
    <a href="{{ site.link }}">Tagasi avalehele</a>
</div>
{% endblock %}