{% extends "base.twig" %}

{% block content %}
	<div class="section h-padding-top-xxl h-padding-bottom-xxl">
		<div class="webpage-heading-container h-margin-bottom-lg">
			{% if current_user.ID == author.ID %}
				<h2 class="h2">Minu andmed</h2>
			{% elseif author.first_name is not empty and author.last_name is not empty %}
				<h2 class="h2">{{author.first_name ~' '~ author.last_name}}
					andmed</h2>
			{% else %}
				<h2 class="h2">{{author.user_nicename}}
					andmed</h2>
			{% endif %}
			{% if current_user.ID == author.ID %}
				{% include "components/author/author-profile-edit-password.twig" %}
			{% elseif isAdministrator %}
				{% include "components/author/author-profile-send-new-password.twig" %}
			{% endif %}
		</div>
		<div class="userinfo-container">
			<div class="author-page-avatar h-margin-bottom-lg">
				<img src="{{ function('get_avatar_url', author.ID) }}">
			</div>
			<div class="author-page-user-info">
				{% include "components/author/author-profile-info.twig" %}
			</div>
		</div>
	{% endblock %}


	{% block footer %}
		{{ parent() }}
		{% if successfulInfoUpdate %}
			<script type="text/javascript">
				notifyOnSuccessfulPasswordChange();
			</script>
		{% elseif passwordsDidNotMatch %}
			<script type="text/javascript">
				notifyIfPasswordsDidNotMatch();
			</script>
		{% elseif badPassword %}
			<script type="text/javascript">
				notifyOnBadPasswords();
			</script>
		{% elseif userChangedHisPersonalInfo %}
			<script type="text/javascript">
				notifyOnUserinfoBeingUpdated();
			</script>
		{% elseif emailAlreadyExists %}
			<script type="text/javascript">
				notifyIfUserWantsToChangeEmailButCant();
			</script>
		{% elseif anErrorOccuredOnPersonalInfoUpdating %}
			<script type="text/javascript">
				notifyOnUserinfoNotBeingUpdated();
			</script>
		{% elseif userOrganisationalInfoWasUpdated %}
			<script type="text/javascript">
				notifyManagerThatUserinfoWasUpdated();
			</script>
		{% elseif notifyManagerThatUserinfoWasAFailure %}
			<script type="text/javascript">
				notifyManagerThatUserinfoWasAFailure();
			</script>
		{% endif %}
	{% endblock %}
