{% extends "base.twig" %}

{% block content %}
<div class="section h-padding-top-xxl h-padding-bottom-xxl">
  {% include "components/webpage-title.twig" with{ title: 'Dokumendid', link: createNewPostUrl, link_text: 'Lisa uus dokument'} %}
  <div class="h-margin-top-lg">
  {% if documents %}
    {% include "components/tables/documents-table.twig" with { documents: documents }%}
  {% else %}
    <p>Andmebaasis pole dokumente</p>
  {% endif %}
</div>
</div>
{% endblock %}


{% block footer %}
  {{ parent() }}
  {% if documentTrashed %}
    <script type="text/javascript">
      	let documentName = '</scipt> {{ nameOfDeletedDocument }}<scipt>';
          notifyOnDocumentBeingTrashed( documentName );
    </script>
  {% endif %}
{% endblock %}
