{% extends "base.twig" %} {% block content %}
<div class="section h-padding-top-xxl h-padding-bottom-lg">
    <h2 class="h2 h-margin-bottom-lg">Üritused</h2>
    {% for üritus in üritused %} {% include 'components/event-page-date.twig' %} {% endfor %} {% for üritus in üritused %} {% include 'components/event-page-events.twig' %} {% endfor %}
</div>
{% endblock %}