{% extends "base.twig" %}

{% block content %}
	<div class="section h-padding-top-xxl h-padding-bottom-lg">
			{% include "components/webpage-title.twig" with{ title: 'Repetuaar', link: createNewPostUrl, link_text: 'Lisa uus lugu'} %}
		{% if repertoire is empty %}
			<h1>Hetkel pole repertuaari lisatud</h1>
		{% else %}
			{% include "components/tables/repertoire-table.twig" %}
		{% endif %}		
	</div>
{% endblock %}