{% extends "base.twig" %}
{% block content %}
	<div class="section h-padding-top-lg h-padding-bottom-xxl">
		<div class="single-event-next-previous-container h-padding-bottom-lg">
            {% if post.prev.link %}
			<a href="{{post.prev.link}}">{% include 'components/icon.twig' with { name: 'sprite-arrow-left' }%}</a>
            {% else %}
                <div></div>
            {% endif %}
            {% if post.next.link %}
			<a href="{{post.next.link}}">{% include 'components/icon.twig' with { name: 'sprite-arrow-right' }%}</a>
            {% else %}
                <div></div>
            {% endif %}
		</div>
        {% include "components/events/single-event-title.twig" with {title: post.title, link: singleEventEditUrl, link_text: 'Muuda'} %}
		{% include "components/single-event-info.twig" %}
	</div>
</div>{% endblock %}
