{% extends "base.twig" %}

{% block content %}
  <h2 class="h2 h-margin-bottom-lg">{{ post.title }}</h2>
  {% if users %}
    {% include "components/tables/users-table.twig" with { users: users }%}

    {% include "components/group-email.twig" %}
  {% else %}
    <p>There are currently no users in the database</p>
  {% endif %}
{% endblock %}