{% extends "base.twig" %}

{% block content %}
<div class="section h-padding-top-xxl h-padding-bottom-xxl">
  <h2 class="h2 h-margin-bottom-lg">{{ post.title }}</h2>
  {% if users %}
    {% include "components/tables/users-table.twig" with { users: users }%}
    {% if canSendGroupEmails %}
      {% include "components/group-email.twig" %}
    {% endif %}
  {% else %}
    <p>There are currently no users in the database</p>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
  {{ parent() }}
  {% if successfulInfoUpdate %}
	  <script type="text/javascript">notifyOnSuccessfulUsersTableInfoChange();</script>
  {% elseif successfulEmail %}
      <script type="text/javascript">notifyOnSuccessfulEmailSent();</script>
  {% elseif successfulMultipleEmail %}
      <script type="text/javascript">notifyOnSuccessfulMultipleEmailSent();</script>
  {% endif %}

{% endblock %}