.wrong-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: calc(100vh - 40px);

    @include bp(sm-min) {
        height: calc(100vh - 52px);
    }

    & img {
        width: calc(50% - 10%);
        height: auto;
    }

    & a {
        padding: 12px 24px;

        text-decoration: none;

        color: $color-white;
        background-color: $color-primary-blue;

        border-radius: 5px;

        white-space: nowrap;
        text-transform: uppercase;
        transition: background-color 0.3s;

        &:hover {
            background-color: $color-secondary-blue;
        }
    }
}