.wrong-page-container {
    position: absolute;
    top: 50%;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-60%, -50%);
    & img {
        width: calc(50% - 10%);
        height: auto;
        margin-top: 24px;
    }
    .h2 {
        text-align: center;
    }
    & a {
        text-decoration: none;
        color: white;
        padding: 12px;
        background: $color-primary-blue;
        border-radius: 5px;
        text-transform: uppercase;
    }
}