.event-date-container {
    display: flex;
    align-items: center;

    & .event-Y-date {
        margin-right: 4px;

        color: $color-gray;
        white-space: nowrap;
        text-transform: capitalize;
    }

    & .event-border {
        height: 1px;
        width: 100%;

        background-color: $color-gray;
    }
}

.events-container {
    display: block;
    width: 100%;

    margin-top: 24px;
    background-color: $color-pearl;

    border-radius: 5px;

    transition: background-color 0.3s;

    &:active, &:hover {
        background-color: $color-light-blue;
    }

    @media (max-width: $bp-sm-min) {
        margin-top: 8px;
        padding: 16px 12px;
    }

    & .event-wrapper {
        display: block;
        position: relative;
    }

    & .event-image-container {
        position: absolute;
        width: 172.63px;
        height: 100%;

        & img {
            position: relative;
            width: 100%;
            border-radius: 5px;
        }

        @media (max-width: $bp-sm-min) {
            position: relative;

            width: 100%;
            height: auto;
        }
    }

    & .event-page-title {
        font-size: $font-size-h3-xs;
        line-height: $line-height-h3-xs;
    }

    & .event-info-container {
        display: block;
        margin-left: 172px;

        padding: 16px;

        @media (max-width: $bp-sm-min) {
            width: 100%;

            margin: 0;

            padding: 0;
            padding-top: 16px;
        }
    }
    & .event-date-time {
        margin-top: 4px;
        font-size: $font-size-small;
        line-height: $line-height-small;
        text-transform: capitalize;
    }
    & .event-description {
        margin-top: 8px;
        text-align: justify;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.event-click-container {
    color: $color-primary-blue;

    text-decoration: none;

    @media (max-width: $bp-md-min) {
        width: 100%;
    }
}
