.event-date-container {
    display: flex;
    align-items: center;
    & .event-Y-date {
        color: $color-gray;
        text-transform: capitalize;
        width: 10%;
        @media (max-width: $bp-lg-min) {
            width: 40%;
        }
        @media (max-width: $bp-xs-min) {
            width: 58%;
        }
    }
    & .event-border {
        height: 1px;
        width: 100%;
        background-color: $color-gray;
    }
}

.events-container {
    display: block;
    width: 100%;
    margin-top: 24px;
    & .event-wrapper {
        display: block;
        position: relative;
        align-items: center;
        background-color: $color-pearl;
        border-radius: 5px;
    }
    & .event-image-container {
        position: absolute;
        width: 172.63px;
        height: 100%;
        & img {
            position: relative;
            width: 100%;
            border-radius: 5px;
            @media (max-width: $bp-sm-min) {
                height: 320px;
            }
        }
        @media (max-width: $bp-sm-min) {
            position: relative;
            height: auto;
            width: 90%;
            margin: 0 auto;
        }
        & .event-attend {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-white;
            position: absolute;
            bottom: -116px;
            width: 100%;
            height: 32px;
            background: $color-red;
            border-radius: 5px;
            @media (max-width: $bp-sm-min) {
                bottom: 0;
            }
        }
    }
    & .event-page-title {
        font-size: $font-size-h3-xs;
        line-height: $line-height-h3-xs;
    }
    & .event-info-container {
        padding: 16px;
        display: block;
        margin-left: 172px;
        @media (max-width: $bp-sm-min) {
            margin-left: 0;
            width: 90%;
            margin: 0 auto;
            padding: 0;
            padding-top: 16px;
            margin-bottom: 24px;
        }
    }
    & .event-date-time {
        margin-top: 4px;
        font-size: $font-size-small;
        line-height: $line-height-small;
        text-transform: capitalize;
    }
    & .event-description {
        margin-top: 8px;
        text-align: justify;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}