.home-notifications {
    display: block;
    width: 100%;
    background-color: $color-pearl;
    & .home-notifications-container {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }
    & .home-notifcations-border {
        background-color: #BCC8FF;
        height: 60px;
        width: 30px;
        border-radius: 5px;
    }
}

.notify-text-wrapper {
    display: block;
    padding: 0 8px;
    margin-left: 12px;
    font-family: $font-family-base;
    & h3 {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
    }
    & p {
        font-size: $font-size-small
    }
}

.calendar-container {
    display: block;
    width: 100%;
    align-items: center;
    & .calendar-date {
        width: 163px;
        height: 33px;
        background-color: $color-primary-blue-hover;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 1px;
    }
    & .calendar-date p {
        text-transform: capitalize;
        color: white;
        text-align: center;
        font-size: $font-size-base;
    }
    & .calendar-wrapper {
        border-top: 1px solid black;
        margin-left: 30px;
        margin-bottom: 16.67px;
    }
    & .calendar-wrapper p {
        line-height: $line-height-base;
        margin-top: 12px;
        font-size: $font-size-base;
        margin-bottom: 12px;
    }
    & .calendar-wrapper a {
        text-decoration: none;
        color: #758EFF;
        margin-top: 12px;
        font-style: italic;
        font-size: $font-size-base;
    }
    & .calendar-date-time {
        text-transform: capitalize;
    }
    & .calendar-wrapper-title {
        font-weight: $font-weight-bold;
    }
}

.events-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    & .event-wrapper {
        display: block;
        background-image: url(../../images/event-bg.png);
        background-size: cover;
        background-position: center;
        width: 350px;
        height: 230px;
        border-radius: 5px;
    }
    & .events {
        position: relative;
        height: 230px;
    }
    & .events p {
        color: white;
        text-align: center;
        font-weight: $font-weight-regular;
    }
    & .event-going {
        position: absolute;
        width: 120px;
        height: 30px;
        background: $color-green;
        right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .event-date {
        width: 151px;
        height: 45px;
        background: $color-primary-blue;
        position: absolute;
        bottom: 0;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .event-title-container h3 {
        font-family: $font-family-title;
        font-size: $font-size-h3-xs;
        margin-top: 16px;
        margin-bottom: 24px;
    }
}

@media (max-width:$bp-sm-min) {
    h3 {
        text-align: center;
    }
    .calendar-container {
        & .calendar-date {
            margin: 0 auto;
        }
        & .calendar-wrapper {
            margin-left: 0;
        }
        & .calendar-wrapper p {
            font-size: $font-size-small;
        }
        & .calendar-date-time {
            font-size: $font-size-small;
        }
        & .calendar-wrapper-title {
            font-size: $font-size-small;
        }
    }
    .events-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .event-wrapper {
            width: 280px;
            height: 200px;
            background-position: center;
            flex-direction: column;
            justify-content: center;
        }
        & .events {
            height: 200px;
        }
        & .event-title-container h3 {
            margin-bottom: 24px;
        }
    }
}

@media (max-width:768px) {
    .events-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        & .event-wrapper {
            width: 280px;
            height: 200px;
            background-position: center;
            flex-direction: column;
            justify-content: center;
        }
        & .events {
            height: 200px;
        }
        & .event-title-container h3 {
            margin-bottom: 24px;
        }
    }
}