.home-notifications {
    display: block;
    width: 100%;
    & .home-notifications-container {
        display: flex;
        position: relative;
        align-items: center;
        background-color: $color-pearl;
        border-radius: 5px;
    }
    & .home-notifcations-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 100%;
        background-color: #bcc8ff;
        border-radius: 5px;
    }
    & .delete-item-button-container {
        position: absolute;
        right: 12px;
    }
    .delete-item-icon {
        color: $color-red;
        font-size: $font-size-h3-xs;
        transition: 0.4s;
        padding: 2px;
        &:hover {
            color: rgba($color-red, 0.5);
        }
    }
}
.all-event-button {
    text-decoration: none;
    color:$color-primary-blue;
    display: flex;
    align-items: center;
    & svg {
        font-size:20px;
        margin-left:10px;
    }
    @media (max-width:$bp-md-min){
        display: none;
    }
}

.notify-text-wrapper {
    display: block;
    padding: 12px;
    margin-left: 30px;
    & .home-notify-title {
        font-weight: $font-weight-bold;
        text-align: left;
    }
    & .home-notify-content {
        font-size: $font-size-small;
        line-height: $line-height-small;
        text-align: justify;
        padding-right: 40px;
    }
}

.calendar-container {
    display: block;
    width: 100%;
    & .calendar-date {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 1px;
        width: 160px;
        height: 32px;
        background-color: $color-secondary-blue;
        border-radius: 5px;
        text-transform: capitalize;
        color: $color-white;
        text-align: center;
    }
    & .calendar-wrapper {
        border-top: 1px solid $color-secondary-blue;
        margin-left: 30px;
    }
    & .calendar-wrapper-title {
        font-weight: $font-weight-bold;
        margin-top: 12px;
    }
    & .calendar-wrapper a {
        text-decoration: none;
        color: #758eff;
        font-style: italic;
    }
    & .calendar-date-time {
        text-transform: capitalize;
    }
}

.front-page-events-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    width: 100%;

    overflow-x: scroll;

    @media (max-width: $bp-sm-min) {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-x: visible;
    }

    & .single-event-container {
        display: block;
        width: 350px;

        margin-right: 24px;

        @media (max-width: $bp-sm-min) {
            margin-right: 0;
        }
    }
    & .event-click-container-front-page {
        text-decoration: none;
        color: black;
        @media (max-width: $bp-md-min) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    & .event-wrapper {
        color: $color-white;
        text-align: center;
        position: relative;
        &:before {
            display: block;
            width: 100%;
            padding-top: (76 / 135) * 100%;
        }
        > img {
            width: 100%;
            border-radius: 5px;
            box-shadow: 5px 10px 8px #888888;
            transition: filter 0.5s;
            &:hover {
                filter: grayscale(100%);

            }
        }
    }
    & .event-date {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 6px;
        left: 0;
        padding: 8px 24px;
        background: $color-secondary-blue;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        text-transform: capitalize;
    }
    & .event-title {
        font-family: $font-family-title;
        font-size: $font-size-h4;
        line-height: $line-height-h4;
    }
}

@media (max-width: $bp-sm-min) {
    .calendar-container {
        & .calendar-date {
            margin: 0 auto;
        }
        & .calendar-wrapper {
            margin-left: 0;
        }
        & .calendar-wrapper p {
            font-size: $font-size-small;
        }
        & .calendar-date-time {
            font-size: $font-size-small;
        }
        & .calendar-wrapper-title {
            font-size: $font-size-small;
        }
        & a {
            font-size: $font-size-small;
        }
    }
    .front-page-events-container {
        & .event-wrapper {
            width: 100%;
        }
    }
    .no-posts {
        text-align: center;
    }
}
