.privacy-container {
    @media (max-width: $bp-sm-min){
        width: 90%;
    }
    & h2 {
        font-size: $font-size-h3-xs;
        line-height: $line-height-h3-xs;
        margin-bottom: 24px;
        font-family: $font-family-base;
        padding: 0px;
    }
    & p {
        font-size: $font-size-base;
        line-height: $line-height-base;
        margin-bottom:24px;
        font-family: $font-family-base;
    }
    & ul {
        list-style:inside;
        margin-bottom: 24px;
        font-family: $font-family-base;
        & li {
            font-size: $font-size-base;
            line-height: $line-height-base;
            margin-bottom:24px;
        }
    }

}
.privacy-title {
    font-family: $font-family-title;
    font-size: $font-size-h2-lg;
    font-weight: $font-weight-regular;
    line-height: $line-height-h2-lg;

    color: $color-primary-blue;

    @media (max-width: $bp-sm-min) {
        text-align: center;
        font-size: $font-size-h1-xs;
        line-height: $line-height-h1-xs;
    }
}