.music-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.music-header-buttons{
    justify-content: center;
}

.add-post-button{
    background-color: $color-primary-blue;
    text-transform: uppercase;
    color: $color-white;
    justify-content: space-around;
    border-radius: 5px;
    border:none;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
}

.operations {
    display: flex;
    justify-content: center;
}
.music-options {
    display: flex;
}
