.single-repertuaar-header{
    display: flex;
    justify-content: space-between;

}
.song-post-info{
    display: flex;
    justify-content: space-between;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
    @media (max-width:$bp-sm-min) {
        flex-direction: column;
    }
    & div:first-child {
        margin-right: 10px;
    }
}

.content{
    .file-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        border-top: #EEEEEE solid 1px;
        .song-title-container {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            @media (max-width:$bp-md-min) {
                flex-direction:column-reverse;
                justify-content: center;
            } 
        }
        div{
            float: right;
            min-width: 180px;
        }
    }
    .sheet-music-files{
        iframe{
            width: 100%;
            height: 1000px;
        }
    }
    .audio-music-files{
        audio{
            width: 100%;
            height: 50px;
            color: $color-primary-blue;
        }
    }
    .buttons{
        margin-top:16px;
        .open-in-new-window-button{
            background-color: $color-primary-blue;
            transition-duration: 0.4s;
            color: $color-white;
            border-radius: 5px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 16px;

            & svg {
                margin-right: 10px;
            }
            &:hover{
                background-color: $color-primary-blue-hover;
            }
        }
        .download-button{
            margin-left: 10px;
            background-color: $color-primary-blue;
            transition-duration: 0.4s;
            padding: 10px;
            color: white;
            border-radius: 12px;
            &:hover{
                background-color: $color-primary-blue-hover;
            }
        }
    }

}
.edit-post-button{
    width:50%;
    background-color: $color-primary-blue;
    color: $color-white;
    border-radius: 5px;
    padding: 10px 16px;
    border:none;
    pointer-events: all;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    @media (max-width:$bp-sm-min) {
        width: 90%;
    }
    &:hover {
        background-color: $color-primary-blue-hover;
    }
}
.acf-form-submit {
    display: flex;
    justify-content: center;
}
.acf-form {
    max-height: 500px;
    overflow-y: auto;
    @media (max-width:$bp-sm-min) {
        height: 70vh;
    }
}