.single-event-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    & .single-event-heading__title {
        width: 100%;

        @media (max-width:$bp-sm-min) {
            padding: 0px 28px;
        }
    }

    & .post-edit-link-mobile {
        @media (max-width:$bp-sm-min){
            font-size: 20px;
            top: 6px;
        }
    }
}

.single-event-next-previous-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        color: $color-primary-blue;
        font-size: 24px;
    }
}

.single-event-info-container {
    display: flex;
    width: 100%;

    @media (max-width: $bp-md-min) {
        flex-direction: column-reverse;
        justify-content: center;
    }

    & .single-event-header-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media (max-width: $bp-md-min) {
            justify-content: center;

            font-size: $font-size-base;
            line-height: $line-height-base;
        }
    }

    & .single-event-description-container {
        display: block;
        width: 60%;

        padding-right: 24px;

        @media (max-width: $bp-md-min) {
            display: flex;
            flex-direction: column;

            width: 100%;
            margin-top: 24px;
            padding-right: 0px;

            font-size: $font-size-small;
            line-height: $line-height-small;
        }

        & .single-event-text-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            & .icon {
                margin-right: 8px;
                color: $color-dark-gray;
                font-size: 20px;
            }
        }

        & .single-event-info-page-link {
            color: #758EFF;
            text-decoration: none;
        }

        & .single-event-description {
            padding-right: 24px;
        }
    }

    & .single-event-image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40%;

        & img {
            width: 100%;
            height: auto;

            border-radius: 5px;
        }

        @media (max-width: $bp-md-min) {
            width: 80%;
            margin: 0 auto;
        }

        @media (max-width: $bp-sm-min) {
            width: 100%;
        }
    }
}

.single-post-going__button {
    display: inline-block;

    position: relative;
    text-align: center;

    cursor: pointer;

    min-width: 100px;
    padding: 3px 16px;

    color: $color-primary-blue;

    border: 1px solid $color-primary-blue;
    border-radius: 5px;
    text-decoration: none;

    transition: all 0.3s;
    transition-property: background-color, color, border;

    &.single-post-going__button--going {
        &:hover {
            color: $color-white;
            background-color: $color-green;

            border: 1px solid $color-green;
        }

        &.active {
            color: $color-white;
            background-color: $color-green;

            pointer-events: none;

            border: 1px solid $color-green;
        }
    }

    &.single-post-going__button--not-going {
        &:hover {
            color: $color-white;
            background-color: $color-red;

            border: 1px solid $color-red;
        }

        &.active {
            color: $color-white;
            background-color: $color-red;

            pointer-events: none;

            border: 1px solid $color-red;
        }
    }
}
