.fixed-table-toolbar{
    float: right;
}
.users-table{

    th{
        color: $color-white;
        background-color: $color-primary-blue;
        text-align: left;
    }
    td{
        padding: 5px;
    }
    tr{
        border-bottom: 1px solid $color-primary-blue;
    }
    tr:hover{
        background-color:  #dddddd;
    }
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    tr:nth-child(even):hover{
        background-color:  #dddddd;
    }
    td img{
        border-radius: 50%;
        height: 40px;
    }

    @include bp(sm-min) {
    // Position of the first two columns is absolute
    th:first-child, td:first-child
    {
    position:sticky;
    left:0px;
    min-width: 60px;
    }

   .name-column{
        position:sticky;
        left: 60px;
    }
    .sticky-background-color{
        background-color:$color-gray;
    }
      }
}  