{% extends "components/tables/table.twig" %}

{% block table_options %}
    data-toggle="table"
{% endblock %}

{% block table_classes %}
  class="naiskoor-table participation-table"
{% endblock %}

{% block table_header %}
  <tr>
    <th class="h-text-center">Pilt</th>
    <th class="h-text-left">Liikme nimi</th>
    <th data-sortable="true" class="h-text-left">Häälerühm</th>
  </tr>
{% endblock %}

{% block table_body %}
  {% for user in users %}
    <tr>
      <td>
        {{ function('get_avatar', user.ID, '40' ) }}
      </td>
      <td>
        {% if user.first_name is not empty and user.last_name is not empty %}
          {{ user.first_name ~ ' ' ~ user.last_name }}
        {% else %}
          {{ user.display_name }}
        {% endif %}
      </td>
      <td>{{ user.voice }}
    </tr>
  {% endfor %}
{% endblock %}
