<form action="#" method="POST">
    <input type="hidden" value="{{ author.user_login }}" name="user_login">
    <input name="sendPasswordRetrieval" type="submit" value="Saada uus parool" class="author-submit-button">
</form>