<div id="avatarModal" class="modal author-profile__avatar-edit-modal">
    <h3 class="h3 h-margin-bottom-md">Muuda profiilipilti</h3>
    {{ function('editUsersAvatar', author.ID )  }}
</div>


<a href="#avatarModal" rel="modal:open" class="post-edit-link h-margin-bottom-lg">Muuda profiilipilti</a>
<a class="post-edit-link-mobile h-margin-bottom-lg" rel="modal:open" href="#avatarModal">{% include 'components/icon.twig' with { name: 'sprite-pencil-fill' }%}</a>
