<div id="choirInfoModal" class="modal editUserinfoModal">
    <h2 class="h2">Muuda kasutaja andmeid</h2>
    {{ function('editUserRole', userID )  }}
</div>  
  <a href="#choirInfoModal" rel="modal:open" class="stylised-button">Muuda kasutaja andmeid</a>
