<div id="passwordModal" class="modal author-profile__password-edit-modal">
	<form action="#" method="POST">
		<h3 class="h3 h-margin-bottom-lg">Muuda parooli</h3>

		<div class="author-password-edit__input-wrapper h-margin-bottom-md">
			<label class="h-margin-bottom-sm" for="showPassword">Praegune parool</label>
			<div class="author-password-edit__input-with-icon ">
				<input autocomplete="off" required name="oldPassword" type="password" id="showPassword">
				{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
			</div>
		</div>

		<div class="author-password-edit__input-wrapper h-margin-bottom-md">
			<label class="h-margin-bottom-sm" for="showPassword1">Uus parool</label>
			<div class="author-password-edit__input-with-icon ">
				<input autocomplete="off" required  name="newPassword1" type="password" id="showPassword1">
				{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
			</div>
		</div>

		<div class="author-password-edit__input-wrapper h-margin-bottom-md">
			<label class="h-margin-bottom-sm" for="newPassword2">Uus parool uuesti</label>
			<div class="author-password-edit__input-with-icon ">
				<input autocomplete="off" required name="newPassword2" type="password" id="showPassword2">
				{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
			</div>
		</div>

		<input id="author-password-show-passwords" type="checkbox" class="h-margin-bottom-lg" onclick="showPasswordFields()">
		<label class="author-password-edit__show-passwords-label"for="author-password-show-passwords">Näita paroole</label>

		<input type="hidden" value="{{ author.ID }}" name="userID">

		<div class="button-center">
			<input type='submit' name='editUserPassword' value="Salvesta" class="author-submit-button"/>
		</div>
	</form>

</div>


<a href="#passwordModal" rel="modal:open" class="post-edit-link">Muuda parooli</a>
<a class="post-edit-link-mobile" rel="modal:open" href="#passwordModal">{% include 'components/icon.twig' with { name: 'sprite-key-fill' }%}</a>
