<div id="passwordModal" class="modal editUserinfoModal">
	<form action="#" method="POST">
		<h2 class="h3 h-margin-bottom-lg">Muuda parooli</h2>
		<div class="inputWrapper">
			<label for="showPassword">Praegune parool</label>
			<div class="inputHolder">
				<input name="oldPassword" type="password" id="showPassword">
				{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
			</div>
		</div>
		<div class="inputWrapper">
			<label for="showPassword1">Uus parool</label>
			<div class="inputHolder">
				<input name="newPassword1" type="password" id="showPassword1">
				{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
			</div>
		</div>
		<div class="inputWrapper">
			<label for="newPassword2">Uus parool uuesti</label>
			<div class="inputHolder">
				<input name="newPassword2" type="password" id="showPassword2">
				{% include 'components/icon.twig' with { name: 'sprite-pencil-fill', modifier: 'edit-user-pencil-icon'} %}
			</div>
		</div>
		<input type="checkbox" class="h-margin-bottom-lg" onclick="showPasswordFields()">Näita paroole
		<input type="hidden" value="{{ author.ID }}" name="userID">
		<div class="button-center">
			<input type='submit' name='editUserPassword' value="Salvesta" class="post-edit-link submit-button"/>
		</div>
	</form>

</div>


<a href="#passwordModal" rel="modal:open" class="post-edit-link">Muuda parooli</a>
<a class="post-edit-link-mobile" rel="modal:open" href="#passwordModal">{% include 'components/icon.twig' with { name: 'sprite-pencil-fill' }%}</a>
