.participation-table {
    & .naiskoor-table__body td {
        height: 44px
    }

    & a {
        text-decoration: none;
    }

    @include bp(sm-min) {
        height: 48px;
    }

    & img {
        height: 24px;
        width: 24px;

        border-radius: 50%;

        vertical-align: middle;

        @include bp(sm-min) {
            height: 40px;
            width: 40px;
        }
    }
}
