/* Bootstrap table overwrites */
.bootstrap-table .fixed-table-container .table thead th {
    &:first-child {
        padding-left: 12px;

        @include bp(sm-min) {
            padding-left: 8px;
        }
    }

    &:last-child{
        padding-right: 12px;

        @include bp(sm-min) {
            padding-right: 8px;
        }
    }
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 12px;

    @include bp(sm-min) {
        padding: 12px 16px;
    }
}

.fixed-table-toolbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    &::after {
        content: none !important;
    }

    @include bp(sm-min) {
        flex-direction: row;
        align-items: flex-end;
    }
}

.bootstrap-table .fixed-table-toolbar .columns-right,
.bootstrap-table .fixed-table-toolbar .search {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 12px;
}

.bootstrap-table .fixed-table-toolbar .columns .dropdown-menu {
    display: block;

    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    max-height: 300px;
    width: max-content;

    overflow: auto;

    margin-top: 32px;
    padding: 12px;

    background-color: $color-white;

    text-align: left;
    white-space: nowrap;
    z-index: 16;

    transition: all 0.5s;
    transition-property: visibility, opacity;

    & #toggle-all-users {
        pointer-events: none;
    }
}

.bootstrap-table .fixed-table-toolbar .columns .keep-open {
    & .dropdown-toggle {
        display: inline-block;

        padding: 4px 12px;

        background: none;

        background-color: #758EFF;
        color: $color-white;

        font-size: $font-size-base;
        line-height: $line-height-base;

        border: none;
        border-radius: 5px;

        &::before {
            content: 'Vali väljad';
        }
    }

    &:hover .dropdown-menu,
    &:active .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }
}

// Dropdown item
.bootstrap-table .fixed-table-toolbar .columns label {
    display: block;
    position: relative;
    padding: 4px 12px;

    transition: background-color 0.3s;

    line-height: $line-height-base;

    color: $color-primary-blue;

    clear: unset;

    &.is-active,
    &:hover {
        @include bp(sm-min) {
            &::before {
                content: '';

                display: block;
                position: absolute;

                top: 0;
                left: 0;

                width: 4px;
                height: 100%;

                background-color: #758EFF;
            }
        }
    }
}

/* Custom table styles */
.naiskoor-table__header {
    font-size: $font-size-small;
    line-height: $line-height-small;

    color: $color-white;

    font-weight: $font-weight-bold;

    & th {
        background-color: $color-secondary-blue;
    }

    & th:first-child {
        border-radius: 5px 0 0 0;
    }

    & th:last-child{
        border-radius: 0 5px 0 0;
    }

    @include bp(sm-min) {
        font-size: $font-size-base;
        line-height: $line-height-base;
    }
}

.naiskoor-table__body {
    font-size: $font-size-small;
    line-height: $line-height-small;

    color: $color-secondary-blue;

    white-space: nowrap;

    & tr:nth-child(odd){
        & td {
            background-color: $color-light-gray;
            transition: background-color 0.3s;
        }

        &:hover{
            & td {
                background-color: $color-light-blue;
            }
        }
    }

    & tr:nth-child(even){
        & td {
            background-color: $color-pearl;
            transition: background-color 0.3s;
        }

        &:hover{
            & td {
                background-color: $color-light-blue;
            }
        }
    }

    & td {
        padding: 10px 12px;

        &:first-child {
            padding: 10px 12px 10px 24px;

            @include bp(sm-min) {
                padding: 4px 16px 4px 24px;
            }
        }

        &:last-child{
            padding: 10px 24px 10px 12px;

            @include bp(sm-min) {
                padding: 4px 24px 4px 16px;
            }
        }

        @include bp(sm-min) {
            padding: 4px 16px;
        }
    }

    @include bp(sm-min) {
        font-size: $font-size-base;
        line-height: $line-height-base;
    }
}

.table-cell--fixed {
    position: sticky;

    left: 0;
}

.naiskoor-table__link-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
