{# Built using this: https://jquerymodal.com/ #}
<p class="add-post-button-full-view"><a href="#modalButtonNewSong" rel="modal:open" class="add-post-button">Lisa uus laul siin</a></p>

<div id="modalButtonNewSong" class="modal">
    <h1 class="h2">Lisa uus laul </h1>
      {{ function('addNewSong')  }}
  </div>
  
<!-- Link to open the modal -->
