<div id="ex{{ id }}" class="modal delete-post-modal">
    <h4 class="h4 h-margin-bottom-lg">Oled sa kindel, et sa tahad kustutada: {{ title }}</h4>
    <div class="button-holder">
      <form action="#" method="post">
        <input type="submit" name="deletePost" value="Kustuta" class="delete-post-button deletion-button"/>
        <input type="hidden" value="{{ id }}" name="ID">
      </form>
      <a href="#" rel="modal:close">
        <input type="button" value="Sulge" class="close-modal-button">
      </a>
    </div>
  </div>

  <!-- Link to open the modal -->
  <a href="#ex{{ id }}" rel="modal:open">
    {% include 'components/icon.twig' with { name: 'sprite-trash-fill', modifier: 'delete-item-icon'} %}
  </a>