<div class="events-container">
    <div class="event-wrapper h-margin-bottom-sm">
        <div class="event-image-container">
            <img src="{{ Image(üritus.image).src }}">
            <div class="event-attend">Ei osale</div>
        </div>
    </div>
    <div class="event-info-container">
        <h3 class="event-page-title">{{ üritus.title }}</h3>
        <div class="event-date-time">{{ üritus.datestart | date("d. F Y")}}• {{ üritus.datestart | date("G")}} - {{ üritus.dateend | date("G")}}</div>
        <div class="event-description">{{ üritus.description }}</div>
    </div>
</div>