<a href="#groupEmailModal" rel="modal:open" onclick="openEmailForm()" class="group-email__modal-button">
  {% include 'components/icon.twig' with { name: 'sprite-envelope-fill', modifier: 'group-email__button-icon' } %}
  <p class="group-email__modal-button-text">Koosta email</p>
</a>

<div id="groupEmailModal" class="modal group-email-modal">
    <h3 class="h-margin-bottom-lg">E-maili saatmine</h3>
    <div class="group-email__form">
      <form action="" method="POST" class="emailSendingForm">
        <div class="group_email__input-group">
          <label for="group_email__email-input" class="group-email__label">Saatja e-mail</label>
          <input type="email" class="group-email__input" value="naiskoorintra@gmail.com" readonly id="group_email__email-input" required>
        </div>

        <div class="group_email__input-group">
          <label for="group_email__heading-input" class="group-email__label">Kirja pealkiri</label>
          <input type="text" name="subject" class="group-email__input" value="[{{ function('implode', ' ', user.roles) }}]:" id="group_email__heading-input" required placeholder="E-maili pealkiri" autocomplete="off">
        </div>

        <div class="group_email__input-group">
          <label for="sendGroupEmail" class="group-email__label">Kirja saajad</label>
          <input type="email" name="recievers" class="group-email__input" id="sendGroupEmail" multiple required placeholder="Saajate e-mailid" autocomplete="off">
        </div>

        <div class="group_email__input-group">
          <label for="group_email__content-input" class="group-email__label">Sõnum</label>
          <textarea rows="4" name="message" class="group-email__input group-email__input--textarea" id="group_email__content-input" required placeholder="E-maili sisu" autocomplete="off"></textarea>
        </div>

        <input type="hidden" value="{{ current_user.name }}" name="sender-name">
        <input type="hidden" value="{{ function('implode', ' ', user.roles) }}" name="sender-role">

        <div class="group-email__button-container">
          <button class="group-email__send-button" type="submit" name="submitGroupEmail">
            Saada
          </button>
        </div>

      </form>
    </div>
  </div>