{# Built using this: https://jquerymodal.com/ #}
<p onclick=" openEmailForm()"><a href="#groupEmailModal" rel="modal:open">Open Modal</a></p>

<div id="groupEmailModal" class="modal">
    <h1>E-maili vorm</h1>
      <form action="" method="POST" class="emailSendingForm">
  
          <label for="email">E-posti aadress kellelt saadetakse</label>
            <input 
            type="email" 
            class="form-control" 
            value="naiskoorintra@gmail.com" 
            readonly
            id="email"
            required  
            >
          </td>
          <br>
          <label for="header">Kirja pealkiri</label>
            <input 
            type="text" 
            name="subject" 
            class="form-control" 
            placeholder="Lisa päis:"
            value="[{{ function('returnUserRoles', user.roles)}}]:"
            required
            id="header"
            >
          <br>

            <label for="sendGroupEmail">Kellele saadetakse:</label>
            <input 
            type="email" 
            name="recievers"   
            class="form-control" 
            placeholder="Enter Email" 
            id="sendGroupEmail" 
            multiple
            required>
          <br>

            <label for="message">E-kirja sisu</label>
            <textarea 
            rows="4" 
            name="message" 
            class="form-control" 
            placeholder="Saada e-mail"
            id="message"
            required
            ></textarea>
            <br>

          <input type="hidden" value="{{ current_user.name }}" name="sender-name">
          <input type="hidden" value=
            "{% for role in current_user.roles %}
                {{ role }}
            {% endfor %}"
             name="sender-roles">

      <div class="form-group text-center">
        <button 
          class="btn btn-raised btn-lg btn-warning"
          type="submit"
          name="submit"
          value="Submit">
          Saada
        </button>
      </form>
  </div>